:root {
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mask {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  mask-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px),
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-position-x: 0%, 0%;
  -webkit-mask-position-y: 0%, 0%;
  mask-size: auto, auto;
  mask-repeat: repeat, repeat;
  mask-origin: content-box, border-box;
  mask-clip: content-box, border-box;
  mask-mode: match-source, match-source;
  mask-composite: exclude;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}
